<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
			<li><a href="/aboutme">About Me</a></li>
	        	<li><a href="/research">Research/Software</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/resume">Resume</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
		
		{{ content }}    		

		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li> <span style="font-size:32px">&#9993;</span>: <a href="mailto:williazo@ucla.edu">williazo@ucla.edu</a></li>
        		<li><img src="{{ site.url }}/images/GitHub-Mark-32px.png"/>: <a href=https://github.com/williazo>github.com/williazo</a></li>
			<li><img src="{{ site.url }}/images/linkedin_logo.png" style="width:32px;height:32px;"/>: <a href = "https://www.linkedin.com/in/williazo/">LinkedIn/williazo</a>
		</ul>
		</footer>
	</body>
</html>
